// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// NOT FROM PRODUCS. REMEMBER TO MOVE

body {
    background: #DEECFF;
}

body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(119, 119, 119);
}

.content {
    max-width: 1100px;
    padding: 0 40px;
    margin: auto;
    height: 100%;
}

// PRODUCTS START HERE

.viewContainer {
    background: #ECF5FF;
    -webkit-box-shadow: 1px 1px 6px -2px rgba(43,114,196,1);
    -moz-box-shadow: 1px 1px 6px -2px rgba(43,114,196,1);
    box-shadow: 1px 1px 6px -2px rgba(43,114,196,1);
    padding-top: 1px;
    margin-top: 20px;
	overflow: auto;

}

.viewContainer .header {
}

.viewContainer .header .headerTitle {
    text-align: center;
    padding: 40px;
    font-weight: 800;
    font-size: 3em;
    background: white;
    margin: 20px 20px 0px 20px;
    color: #3289F1;
    -webkit-box-shadow: 1px 1px 6px -2px rgba(43,114,196,1);
-moz-box-shadow: 1px 1px 6px -2px rgba(43,114,196,1);
box-shadow: 1px 1px 6px -2px rgba(43,114,196,1);

}


.viewContainer .topDashContainer {
    display: flex;
}

.viewContainer .topDashContainer > div {
    flex-grow: 1;
    width: 100%;
    height: 280px;;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.viewContainer .topDashContainer > div .topDashInner {
    background: #3289F1;
    color: white;
    padding: 20px;
    flex-grow: 1;
    -webkit-box-shadow: 1px 1px 6px -2px rgba(43,114,196,1);
    -moz-box-shadow: 1px 1px 6px -2px rgba(43,114,196,1);
    box-shadow: 1px 1px 6px -2px rgba(43,114,196,1);
}

.viewContainer .topDashContainer > div .bigNum {
    padding: 30px 0px 30px 0px;
    border-bottom: 1px solid white;
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 15px;
}

.viewContainer .topDashContainer > div .bigNumLabel {
    font-size: 12px;
}

.viewContainer .topDashContainer > div .smallNums {
    display: flex;
}

.viewContainer .topDashContainer > div .smallNums .smallPair {
    flex-grow: 1;
}

.viewContainer .topDashContainer > div .smallNum {
    text-align: center;
}

.viewContainer .topDashContainer > div .smallNumLabel {
    font-size: 12px;
}

.viewContainer .topDashContainer .left .smallPair {
    padding: 0 10px 0 0;
}


.viewContainer .topDashContainer .left .smallNum {
    padding: 10px 0 0 0;
    text-align: right;
}

.viewContainer .topDashContainer .center {

}

.viewContainer .topDashContainer .right {

}

.chartsContainer {

}

.chartsContainer .chartsTabs {
    padding: 0 20px 0 20px;
}

.chartsContainer .chartsTabs li {
    display: inline-block;
    -webkit-box-shadow: 1px 1px 6px -2px rgba(43,114,196,1);
    -moz-box-shadow: 1px 1px 6px -2px rgba(43,114,196,1);
    box-shadow: 1px 1px 6px -2px rgba(43,114,196,1);

}

.chartsContainer .chartsTabs li label {
    padding: 5px;
    display: block;
    background: #DBF2FF;
    color: #3289F1;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
}

.chartsContainer .chartsTabs li label:hover {
    cursor: pointer;
}

.chartsContainer .chartWrapper {
    padding: 20px;
}

.chartsContainer .chartWrapper .chartInner {
    background: white;
    padding: 30px;
    -webkit-box-shadow: 1px 1px 6px -2px rgba(43,114,196,1);
    -moz-box-shadow: 1px 1px 6px -2px rgba(43,114,196,1);
    box-shadow: 1px 1px 6px -2px rgba(43,114,196,1);
}


.chartsContainer .chart {

}

.chartsContainer .chart #productChart {

}

// PRODUCT VIEW PAGE


.header {

}

.header .headerTitle {

}

.featureProductContainer {
	border: 1px solid blue;
	margin: 20px;
}

.featureProductContainer .imageContainer {

}

.featureProductContainer .imageContainer img {

}


.featureProductContainer .formContainer {

}

.productContentContainer {
	margin: 0px 20px 20px 20px;
}

.relatedProductsContainer {
	margin: 0px 20px 20px 20px;
}

.relatedProductsContainer ul {
	display: flex;
}

.relatedProductsContainer ul li {
	flex-grow: 1;
	text-align: center;
}
