<h1>Products#details</h1>
<p>Find me in app/views/products/details.html.erb</p>

<button id="fetch">GET THAT SWEET JSON</button>

<canvas id="productChart" width="400" height="200"></canvas>



<%= javascript_include_tag "details" %>
