<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<div id="someData">

</div>

<button id="fetch">GET THAT SWEET JSON</button>

<canvas id="productChart" width="400" height="200"></canvas>
