<!DOCTYPE html>
<html>
<head>
  <title>SurgeIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="js/lib/jquery-2.2.4.min.js" charset="utf-8"></script>
  <script src="js/lib/moment.min.js" charset="utf-8"></script>
  <script src="js/lib/chart.core.js" charset="utf-8"></script>
  <!-- <script src="js/lib/chart.js" charset="utf-8"></script> -->
  <script src="js/lib/chart.scatter.js" charset="utf-8"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script src="js/script.js" charset="utf-8"></script>
</body>
</html>
